<div id="<%= dom_id event_attendee %>">
  <p>
    <strong>Event:</strong>
    <%= event_attendee.event_id %>
  </p>

  <p>
    <strong>Attendee:</strong>
    <%= event_attendee.attendee_id %>
  </p>

</div>
