<p style="color: green"><%= notice %></p>

<h1>Event attendees</h1>

<div id="event_attendees">
  <% @event_attendees.each do |event_attendee| %>
    <%= render event_attendee %>
    <p>
      <%= link_to "Show this event attendee", event_attendee %>
    </p>
  <% end %>
</div>

<%= link_to "New event attendee", new_event_attendee_path %>
